<!DOCTYPE html>
<html>
  <head>
    <title>MobileTest</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

 <body>

  	<header>
	  	<%= render 'layouts/navbar' %>
		</header>
	  
	  <main>
		  <div class="container">
		    <%= yield %>
			</div>
		</main>
	  
	  <footer>
	  	<div class="page-footer">
	  	<%= render 'layouts/footer' %>
	  	</div>
	 	</footer>

</body>

</html>
